db.sqlite3
*.idea/
*__pycache__/
media/
*settings.py
*.log
tJNN48mZOc.txt
email.txt
ZFCheckCode/code.png
grade.txt
insert.py
collected_static/user_avatar/
checkcode1.jpg
test_post.py
a.txt
grade.txt