{% extends 'base.html' %}
{% block title %}工单号：{{ gongdan.gongdanid }}{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% load staticfiles %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{# 页面内容 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h3>{{ gongdan.gongdanid }}</h3>
                <div class="blog">
                    <p>工单提交时间：{{ gongdan.created_time }}</p>
                    <p>维修工：{{ gongdan.repair_man.name}}</p>
                    <p>故障位置：{{ gongdan.pos }}</p>
                    <p>故障概要：{{ gongdan.excerpt }}</p>
                    <p>学生姓名：{{ gongdan.name }}&nbsp&nbsp&nbsp学生学号：{{ gongdan.sno }}&nbsp&nbsp&nbsp学生电话：{{ gongdan.phonenum }}</p>
                    <p>可维修时间：{{ gongdan.abletime }}</p>
                </div>
                <div class="blog-content">{{ blog.content }}</div>
            </div>
        </div>
    </div>
{% endblock %}