{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div style="margin-top:-5em">
                    <h2>{{ article.title }}</h2>
                </div>

                <div class="blog-info-description" style="margin-top:2em">
                    <div style="float:left;color:#C0C0C0;">作者：{{ article.author }}</div>
                    <div style="float:right;color:#C0C0C0;">{{ article.created_time|date:"m-d" }}</div>
                </div>
                <div class="blog-content" style="margin-top:5em">{{ article.content|safe }}</div>
            </div>
        </div>
    </div>
</body>
</html>